<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-damger">Edit Contacts</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                
                <div class="mb-2">
                    <input class="form-control" placeholder="Name" type="text" style="margin:10px 0px 10px 0px">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="PhoneUrl" type="text" style="margin:10px 0px 10px 0px">
                </div>
                <div class="mb-4">
                    
                <div class="mb-2">
                    <input class="form-control" placeholder="Email" type="text" style="margin:10px 0px 10px 0px">
                </div>
                    <input class="form-control" placeholder="Mobile" type="text" style="margin:10px 0px 10px 0px">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Company" type="text" style="margin:10px 0px 10px 0px">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="Title" type="text" style="margin:10px 0px 10px 0px">
                </div>
                <div class="mb-2">
                    <select class="form-control" style="margin:10px 0px 10px 0px">
                        <option value=""> Select a Group</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-success sm-2" type="text" value="Update">
                    <a class="btn btn-danger ms-1" routerLink="/">Close</a>
                </div>
                

            </form>
        </div>
    </div>
</div>